@keyframes ldio-tcno1frx4th {
    0% { transform: rotate(0deg) }
    50% { transform: rotate(180deg) }
    100% { transform: rotate(360deg) }
}
.ldio-tcno1frx4th div {
    position: absolute;
    animation: ldio-tcno1frx4th 1s linear infinite;
    width: 160px;
    height: 160px;
    top: 20px;
    left: 20px;
    border-radius: 50%;
    box-shadow: 0 4px 0 0 #ffffff;
    transform-origin: 80px 82px;
}
.loadingio-spinner-eclipse-x27oamxxu1j {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: none;
}
.ldio-tcno1frx4th {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}
.ldio-tcno1frx4th div { box-sizing: content-box; }
